<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="title" content="skji">
    <meta name="description" content="want hugs">
    <link rel="stylesheet" href="static/css/a.css">
    <link href="https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.1.0/styles/vs.min.css" />
<script src="https://cdn.jsdelivr.net/npm/@heppokofrontend/html-code-block-element/lib/html-code-block-element.common.min.js" defer></script>
    </head>
<body>
  <!-- <span><p><strong><div style="white-space:pre-wrap"><%= urls %></div</strong></p></span> -->
    <h1>list of all urls </h1>
    <code-block language="text" label="urls" controls>
        &lt;&gt;<%= urls%>&lt;&gt;
        </code-block>
 <p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<ul>
    <li <%= urls%></li>
</ul>
<a href="<%= urls%>"></a>
</body>
</html>
<p><span><strong>  ></strong>/</span></p>
    